<footer id="footer">
  <script src="https://kit.fontawesome.com/eccf78fe7a.js" crossorigin="anonymous"></script>

    <i class="fab fa-twitter"></i>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-instagram"></i>
    <i class="fas envelope fa-envelope "></i>
    <p class="copyright">© Copyright 2020 Anmol Yadav</p>

</footer>

</body>

</html>
