<%- include("partials/header"); -%>

<section id="about">

  <div class="aboutme">

    <h2 class="hello">Hello Lovely Readers !</h2>
    <p class="about-para">As J.K. Rowling has rightly said ,"I do believe something very magical can happen when you read a good book ." As the title suggests " My book space " here I'll be posting honest reviews about the books I've read and what are my opinions regarding it and whether you should read it or not .
So , keep growing and keep reading !!
</p>

  </div>

</section>
<hr>

<%- include("partials/footer"); -%>
