<%- include("partials/header"); -%>

<h1 class="archives">Archives </h1>

<div class="list-group">
  <a href="/blog1" class="list-group-item list-group-item-action">Wings of Fire by APJ Abdul Kalam with Arun Tiwari</a>
  <a href="/blog2" class="list-group-item list-group-item-action">My experiments with truth : By Mahatma Gandhi</a>
  <a href="/blog3" class="list-group-item list-group-item-action">Calling Sehmat by Harinder Sikka</a>
  <a href="/blog4" class="list-group-item list-group-item-action">The last lecture by Randy Pausch with Jeffrey Zaslow</a>
  <a href="/blog5" class="list-group-item list-group-item-action">Ignited Minds by APJ Abdul Kalam</a>
  <a href="/blog6" class="list-group-item list-group-item-action">The Alchemist By Paulo Coelho</a>
  <a href="/blog7" class="list-group-item list-group-item-action">To kill a mockingbird by Harper Lee</a>
  <a href="/blog8" class="list-group-item list-group-item-action">Time and Life</a>


</div>
<hr>






<%- include("partials/footer"); -%>
