<%- include("partials/header"); -%>
<section id="blogs">

<div class="row">
  <div class="col-lg-6 col-sm-12 blog1">

      <div class="blog1">

      <h1>Wings of Fire  </h1>
      <h3>by APJ Abdul Kalam with Arun Tiwari</h3>

      <p>An autobiography of a great scientist and a revolutionary individual ; Wings of Fire , is a perfect book which throws light to the life of a middle class boy APJ Abdul Kalam who brought viability to Indian science and lead ISRO to new heights with his sheer dedication and hardwork inspite of numerous complexities and hindrances. It's an appropriate book of motivation for people who think they can't dream big . This book will help you dream big and will let you thrive for it .
      </p>

      <p class="quote-header">Kalam Sir in his words said ,</p>
      <p class="quote">"We are all born with a divine fire in us. Our efforts should be to give wings to this fire and fill the world with the glow of its goodness . "</p>


    </div>

  </div>

</div>
</section>

<hr>

<%- include("partials/footer"); -%>
