<%- include("partials/header"); -%>
<section id="blogs">

  <div class="row">
    <div class="col-lg-6 col-sm-12 blog8">
  <div class="blog8">
  <h1>Time and Life</h1>
  <h3>~ Anmol</h3>
  <p>
    This time will soon flow away . <br>
  Leaving some people for  good , <br>
  And some for the bad.<br>
  Some may turn out to be the best version of themselves,<br>
  Some may become more sluggish and lazy .<br>
  Some may start treasuring time ,<br>
  Some may again start squandering it .<br>
  Some may start cherishing the little things ,<br>
  Some may still find pleasure in grandeur .<br>
  Some may start valuing human existence,<br>
  Some may forget what this phase taught .<br>
  While some people will leave,<br>
  The ones who value us will stay .<br>
  Life is about ups and downs ,<br>
  Just as we wouldn’t know about light if the darkness didn’t prevail<br>
  Maybe this is the darkness and light will soon outweigh .<br>
  Time will never stop ,<br>
  Maybe when all this ends ,<br>
  You’ll realise you left a lot .<br>
  Maybe you could have saved a bond ,<br>
  Or maybe could have loved a bit more .<br>
  This time will soon flow away .<br>
  Leaving some people for good ,<br>
  And some for the bad .</p>
  </div>
  </div>
  </div>
</section>

<hr>

<%- include("partials/footer"); -%>
