<%- include("partials/header"); -%>
<section id="blogs">

  <div class="row">
    <div class="col-lg-6 col-sm-12 blog5">
  <div class="blog5">
    <h1>Ignited Minds
   </h1>
    <h3>by APJ Abdul Kalam</h3>

  <p>It's one of the many books written by this amazing man. This is not one of those books in which he shares about how he , along with his team successfully completed launching rockets and stuff. But more about his experiences and interaction with students and his belief in how these young minds have the capability of changing the world.There's not much description about things in this book as it's a short one and emphasizes more on young minds and Kalam's initiative to enlighten them. Like all of his books this one also isn't the one where you will read and think " Oh ! I haven't learnt anything new ". You'll invariably gain something when it comes to Sir Kalam elucidating his experiences and thoughts .
  There's always some piece of highly impressive words in a book that leaves me awestruck , quoting one of those from the author ,</p>
    <p class="quote"> "For great men, religion is a way of making friends; small people make religion a fighting tool."
    </p>

  <p><em>You should definitely read this book it instills how each one of us has the capability of collectively making big changes and how we can see this world with a different and broader perspective!
  </em>  </p>
  </div>
  </div>
  </div>

</section>

<hr>

<%- include("partials/footer"); -%>
