<%- include("partials/header"); -%>
<section id="blogs">

<div class="row">
  <div class="col-lg-6 col-sm-12 blog3">
<div class="blog3">
  <h1>Calling Sehmat </h1>
  <h3>by Harinder Sikka</h3>

<p>So, this book is not only about an Indian Spy who puts her life in risk for the country saving it from a catastrophic event but also about what challenges she has to face to do such a job and still be the one who goes unsung and is seldom remembered . A biography which lays out the memoir of an ordinary middle class North Indian girl who takes up her progenitor's profession for the love of her country and family and how she saves her country from a huge mishap , consequently , gambling with her own life.This book also unveils how being involved in such a work can metamorphose your whole life , makes you sacrifice your feelings and why you can never be the same ever again .</p>

<p>This book has also turned into a motion picture named "Raazi" which very briefly describes Sehmat's life . What fascinated me the most after watching the movie which led me reading this appreciable biography is how a shy and timid girl being afraid of ammunitions turns into a fearless and patriotic spy . This moving life story will leave you with an everlasting impression and let you question yourself what are you doing to contribute to your nation . Also , it will make you feel proud of such great unsung patriots.</p>

<p><em>You must read this book if you are looking for a story which goes deep into the intricacies in the life of a spy and make you realise why such people are worth venerating !  </em></p>

</div>
</div>
</div>

</section>

<hr>

<%- include("partials/footer"); -%>
