<%- include("partials/header"); -%>
<section id="blogs">

  <div class="row">
    <div class="col-lg-6 col-sm-12 blog6">
  <div class="blog6">
  <h1>The Alchemist</h1>
  <h3>by Paulo Coelho</h3>
  <p>
    Do you remember when we were kids we used to read short stories which gave us a moral in the end ? While reading it initially, we were often puzzled as to what is it about but slowly we got to realise it ."The Alchemist" is somewhat similar to those stories the difference being it gives you lesson that you wouldn't understand if you were to read it back then !  It's about a shepherd named Santiago who had a dream about finding treasure underneath the pyramids and how he listened to his heart and followed his dream.Although, he had to face a lot of difficulties but he ended up getting what he was searching for , it teaches us when someone has an ardent desire for something how the paths keep forming which we get to realise much later. This book tells us how following our heart is not at all serene , we often have to jump out of our comfort zones to conquer what we are looking for.
  </p>

  <p> <em>Words that come too frequently in this book and holds much importance in our lives as well ,</em> </p>
  <p class="quote"> "When you want something, all the universe conspires in helping you to achieve it."
  </p>
  <p> <em>It's a wonderful piece of writing by Paulo Coelho as it beautifully explains how journey of pursuing the goal is much more magnificent than the goal itself .
  You'll be surrounded with a bunch of positivity while you decipher this book so you should definitely read this one!</em> </p>
  </div>
  </div>
  </div>


</section>

<hr>

<%- include("partials/footer"); -%>
