<%- include("partials/header"); -%>
<section id="blogs">

  <div class="row">
    <div class="col-lg-6 col-sm-12 blog2">
  <div class="blog2">
    <h1>My experiments with truth
    </h1>
    <h3>by Mahatma Gandhi</h3>

  <p>The book "My experiments with truth " an autobiography of one of the eminent leader and an ascetic " Mahatma Gandhi " starting from his childhood describes the complete life of Gandhi . It breaks the commonly presumed conception about Gandhi being a pious person abstaining himself from worldly attractions since birth . It shows how Gandhi being a normal person like us changes into an altruistic being leaving a profound impact worldwide evolving into a Mahatma and the hardships faced by him . This book very well portrays how our inner self always interrupt us from doing anything erroneous but only he who prioritise his inner self has the ability to bring a change and inspire others .
  </p>

    <p class="quote-header">One of his quotes which has left an indelible impact on me ,
  </p>
    <p class="quote"> " If I believe I cannot do something , it makes me incapable of doing it. But when I believe I can , then I acquire the ability to do it even If I didn't have it in the beginning".
  </p>
  <p><em>This book is a must read if you are an adulator of Gandhi , some people may find it monotonous at times but overall it's one of an unprecedented autobiography. </em></p>

  </div>
  </div>
  </div>
</section>

<hr>

<%- include("partials/footer"); -%>
