<%- include("partials/header"); -%>
<section id="blogs">

  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 blog4">
  <div class="blog4">
    <h1>The last lecture by Randy Pausch with Jeffrey Zaslow</h1>
    <h3>by Randy Pausch with Jeffrey Zaslow</h3>

  <p>We often are very fed up with our lives and tend to search for something that gives us a new ray of hope , which makes us believe that there's so much more to this world , This book "The last lecture " is about the same , which recounts the life of an award winning teacher and researcher , Randy Pausch , who inspite of having every odds in his favour chose to be happy and kept others around him gratified  . We find him as a man who has great affection for his family and how he left no stones unturned to keep them happy , despite of suffering from a critical illness as precarious as Cancer and knowing his life would end soon ,eventually leaving his beautiful family of 3 children and his wife . His last lecture at Carnegie Mellon University is available on internet and clearly exhibits his cheerful nature and optimistic personality . No doubt , being in such a egregious condition and still managing to keep yourself happy is the most difficult thing a person can think of and that's really inspiring and worth getting appreciated . But what i felt while reading this book , while in some pages we get really inspired and moved by his audacious words . Other times , it went too dreary.
  </p>
  <p> <em>If you are one of those readers who wants every page of the book to be something that doesn't stultifies you and leaves an impact this book is not for you . On the contrary , if you are one of those readers who is not concerned in how much you got to learn from a single book you can definitely go and read this book ! </em> </p>
    <p class="quote-header">As i mentioned in some areas there are really impacting words from this zestful individual , i would like to quote one of the many ,
  </p>
    <p class="quote"> " Follow your passions, believe in karma, and you won't have to chase your dreams, they will come to you. "
  </p>

  </div>
  </div>
  </div>
</section>

<hr>

<%- include("partials/footer"); -%>
