<%- include("partials/header"); -%>
<section id="blogs">

  <div class="row">
    <div class="col-lg-6 col-sm-12 blog7">
  <div class="blog7">
  <h1>To kill a mockingbird </h1>
  <h3>by Harper Lee</h3>
  <p>
    This book was written during 1950's and in no time became one of the best-selling novels . It talks of the time when discrimination against the blacks prevailed through a fictional story line up with some personal experiences of the author too. The story proceeds as follows , a black man was accused of raping a white woman and a distinguished man of the community ,Atticus , who was himself a white man decided to fight his case.He was criticised by the people but he chose to stand with the truth . He had two children, he always guided them with his ethical teachings, by telling , not to kill a mockingbird (mockingbird is a bird who has a long tail and doesn't harms anyone and soothes everyone with its song) , what he meant which is also the base of the story is ,not to harm a person who hasn't done anything wrong to the society and also edified them to always see the world through other's shoes before judging him/her.
  </p>
  <p> <em>Quoting few words from the book which we usually tend to disapprove of or be ignorant towards ,</em> </p>
  <p class="quote"> "People generally see what they look for, and hear what they listen for."
  </p>
  <p> <em>I personally feel this book is somewhat hyped up, undoubtedly, it mainstreams a very crucial topic. But ,i personally found it to be very insipid.
  This book turned into a motion picture as well with the same name .
  If you are interested in knowing more about this novel you can surely read it!</em> </p>
  </div>
  </div>
  </div>
  

</section>

<hr>

<%- include("partials/footer"); -%>
