<%- include("partials/header"); -%>
<section id="main-title">

          <div class="blog">

            <img class="head-img" src="images/headmbs.jpg" alt="head-img">
          </div >
  </section>
  <hr>

<section id="about">

  <div class="aboutme">

    <h2 class="hello">Hello Lovely Readers !</h2>
    <p class="about-para">As J.K. Rowling has rightly said ,"I do believe something very magical can happen when you read a good book ." As the title suggests " My book space " here I'll be posting honest reviews about the books I've read and what are my opinions regarding it and whether you should read it or not .
So , keep growing and keep reading !!
</p>

  </div>

</section>

<hr>

<section id="blogs">
<div class="row">
  <div class="col-lg-6 col-sm-12 blog1">

      <div class="blog1">

      <h1>Wings of Fire  </h1>
      <h3>by APJ Abdul Kalam with Arun Tiwari</h3>
<p>An autobiography of a great scientist and a revolutionary individual ; Wings of Fire , is a perfect book which throws light to the life of a middle class boy APJ Abdul Kalam who brought viability to Indian science and lead ISRO to new heights with his sheer dedication and 
      <span class="dot">  ...</span>
     <a class="link" href="/blog1" >Read more</a></p>
    </div>

  </div>

</div>
<hr>
<div class="row">
  <div class="col-lg-6 col-sm-12 blog2">
<div class="blog2">
  <h1>My experiments with truth
  </h1>
  <h3>by Mahatma Gandhi</h3>

<p>The book "My experiments with truth " an autobiography of one of the eminent leader and an ascetic " Mahatma Gandhi " starting from his childhood describes the complete life of Gandhi . It breaks the commonly presumed conception about Gandhi being a pious person abstaining <span class="dot">  ...</span>
<a class="link" href="/blog2" >Read more</a></p>
</div>
</div>
</div>
<hr>
<div class="row">
  <div class="col-lg-6 col-sm-12 blog3">
<div class="blog3">
  <h1>Calling Sehmat </h1>
  <h3>by Harinder Sikka</h3>

<p>
  So, this book is not only about an Indian Spy who puts her life in risk for the country saving it from a catastrophic event but also about what challenges she has to face to do such a job and still be the one who goes unsung and is seldom remembered . A biography which lays
  <span class="dot">  ...</span>
  <a class="link" href="/blog3" >Read more</a></p>
</div>
</div>
</div>
<hr>

<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12 blog4">
<div class="blog4">
  <h1>The last lecture by Randy Pausch with Jeffrey Zaslow</h1>
  <h3>by Randy Pausch with Jeffrey Zaslow</h3>

<p>We often are very fed up with our lives and tend to search for something that gives us a new ray of hope , which makes us believe that there's so much more to this world , This book "The last lecture " is about the same , which recounts the life of an award winning teacher
 <span class="dot">  ...</span>
<a class="link" href="/blog4" >Read more</a></p>
</div>
</div>
</div>

<hr>

<div class="row">
  <div class="col-lg-6 col-sm-12 blog5">
<div class="blog5">
  <h1>Ignited Minds
 </h1>
  <h3>by APJ Abdul Kalam</h3>
<p>It's one of the many books written by this amazing man. This is not one of those books in which he shares about how he , along with his team successfully completed launching rockets and stuff. But more about his experiences and interaction with students and his belief in how
  <span class="dot">  ...</span>
  <a class="link" href="/blog5" >Read more</a></p>
</div>
</div>
</div>

<hr>

<div class="row">
  <div class="col-lg-6 col-sm-12 blog6">
<div class="blog6">
<h1>The Alchemist</h1>
<h3>by Paulo Coelho</h3>
<p>
  Do you remember when we were kids we used to read short stories which gave us a moral in the end ? While reading it initially, we were often puzzled as to what is it about but slowly we got to realise it ."The Alchemist" is somewhat similar to those stories the difference
  <span class="dot">  ...</span>
  <a class="link" href="/blog6" >Read more</a></p>

</div>
</div>
</div>

<hr>
<div class="row">
  <div class="col-lg-6 col-sm-12 blog7">
<div class="blog7">
<h1>To kill a mockingbird </h1>
<h3>by Harper Lee</h3>
<p>
   This book was written during 1950's and in no time became one of the best-selling novels . It talks of the time when discrimination against the blacks prevailed through a fictional story line up with some personal experiences of the author too. The story proceeds as follows
   <span class="dot">  ...</span>
   <a class="link" href="/blog7" >Read more</a></p>

</div>
</div>
</div>
<hr>
<div class="row">
  <div class="col-lg-6 col-sm-12 blog8">
<div class="blog8">
<h1>Time and Life</h1>
<h3>~ Anmol</h3>
<p>
  This time will soon flow away . <br>
Leaving some people for  good , <br>
And some for the bad.<br>
Some may turn out to be the best version of themselves,<br>
Some may become more sluggish and lazy .<br>
Some may start treasuring time ,<br>
<span class="dot">  ...</span>
<a class="link" href="/blog8" >Read more</a></p>
</div>
</div>
</div>

<hr>
</section>


<%- include("partials/footer"); -%>
